<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio de sesion</title>
</head>
<body>
    <a th:href="@{/anexar}">gregar individuo</a>
    <a th:href="@{/}">Lista de individuos</a>
    <form>
        <h1>INICIO DE SESION</h1>

        <br>
        <br>
        <label>Usuario:</label>
        <br>
        <input type="text">
        <br>
        <label>Contraseña:</label>
        <br>
        <input type="submit" value="login">
    </form>
</body>
</html>